@charset "UTF-8";

$regular: 'League Spartan', sans-serif;
$turkus: #39b5b3;
$black: #2b2a29;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-vichy.es-vichy {
  font-family: $regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #111;
  }

  .es-kv {
    background: #fff;

    &__images {
      background: url('images/packshot.png') top / cover no-repeat;
      background-size: contain;
      height: 615px;
    }

    &__recommendation {
      display: flex;
      flex-direction: column;
    }

    &__disclaimer {
      margin: 7px 10px 0 10px;
      margin: 0 auto;
      max-width: 362px;
      font-size: 9px;
      text-align: center;
    }

    &__header {
      padding: 120px 10px 0 10px;
      font-size: 16px;
      text-align: center;
    }

    &__animated-item {
      height: 350px;
    }

    &__animated-items {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: slidedown 0.6s ease forwards;
      animation-delay: 0.3s;
    }

    &__photo {
      position: relative;
    }

    &__img {
      @include img;

      &--photo {
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      background: url('images/photo.jpg') center / cover no-repeat;
      padding-top: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      min-height: 535px;
    }

    &__title {
      @include text;
      padding: 5px 24px;
      color: $turkus;
      text-transform: uppercase;
      font-size: 26px;
      text-align: right;
      opacity: 0;
      animation: slideright 0.6s ease forwards;
      animation-delay: 0.3s;
    }

    &__subtitle {
      @include text;
      font-weight: bold;
      padding: 5px 24px;
    }
  }

  .es-info {
    padding: 32px 16px;
    margin-bottom: 32px;
    max-width: 730px;
    margin: 0 auto;

    &__border {
      padding: 24px 16px;
      position: relative;
      margin-bottom: 32px;

      &::before {
        content: url('images/border-1.png');
        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        content: url('images/border-2.png');
        position: absolute;
        top: bottom;
        right: 0;
      }
    }

    &__title {
      @include text;
      font-size: 23px;
      text-align: center;
      margin-bottom: 32px;
      font-weight: normal;
      text-transform: uppercase;
    }

    &__desc {
      @include text;
      font-size: 16px;
      text-align: center;
      line-height: 1.4;

      strong {
        text-transform: uppercase;
      }
    }

    &__text {
      @include text;
      font-size: 15px;
      text-align: center;
      font-weight: 700;
    }

    &__img {
      @include img;
    }

    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -8px;
    }

    &__single {
      padding: 0 8px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__icon {
      margin-bottom: 16px;
    }
  }

  .es-use {
    background: url('images/bg-1.png') no-repeat;
    background-position: 86% bottom;
    min-height: 870px;
    padding: 0 16px;

    &__content {
      max-width: 730px;
      margin: 50px auto 0 auto;
    }

    &__title {
      @include text;
      font-size: 22px;
      padding-bottom: 32px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      @include text;
      position: relative;
      margin-bottom: 16px;
      padding-left: 24px;
      font-size: 17px;

      &::before {
        content: '●';
        position: absolute;
        color: $turkus;
        top: 0;
        left: 0;
      }
    }
  }

  .es-banner {
    margin-bottom: 64px;

    &__border {
      background: linear-gradient(45deg, #469594, #50bfbd);
      padding: 32px 16px;
      margin-bottom: 16px;
    }

    &__title {
      @include text;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 10px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 16px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__text {
      @include text;
      color: #fff;
      margin-top: 5px;
      text-align: center;
      font-weight: 500;
      font-size: 12px;

      &--number {
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
      }

      span {
        font-size: 30px;
        font-weight: 700;
        position: relative;
        top: -8px;
      }
    }
  }

  .es-ingr {
    margin-bottom: 64px;
    padding: 0 16px;

    &__title {
      @include text;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 32px;
      text-transform: uppercase;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 12px;
      margin: 0 -24px;
    }

    &__single {
      // max-width: 246px;
      padding: 0 12px;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__image {
      position: relative;
      margin-bottom: 24px;
    }

    &__img {
      @include img;
      width: 100%;
    }

    &__text {
      @include text;
      font-size: 13px;
      text-align: center;
    }

    &__label {
      @include text;
      padding: 10px 3px;
      background: rgba(255, 255, 255, 0.66);
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12px;
      transform: translate(-50%, -50%);
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .es-benefits {
    background: url('images/bg-3.jpg') no-repeat;
    background-position: 28% bottom;
    min-height: 930px;
    padding: 0 16px;

    &__title {
      @include text;
      font-size: 26px;
      margin-bottom: 70px;
      text-align: center;
      font-weight: 700;
    }

    &__container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 0 8px;
      margin: 0 -16px;
    }

    &__single {
      padding: 0 8px;
      width: 200px;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__img {
      @include img;
    }

    &__icon {
      margin-bottom: 16px;
    }

    &__text {
      @include text;
      text-align: center;
      font-size: 17px;
    }
  }

  .es-cross {
    padding: 0 16px;

    &__title {
      @include text;
      text-transform: uppercase;
      font-size: 22px;
      text-align: center;
      margin-bottom: 40px;
      font-weight: 700;
    }

    &__container {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 0 8px;
      margin: 0 -16px;
    }

    &__photo--desktop {
      display: none;
    }

    &__packshot {
      position: relative;
      z-index: 1;
    }

    &__img {
      @include img;
    }

    &__packshot--1 {
      & img {
        height: 350px;
      }
    }

    &__single {
      max-width: 250px;
      margin-bottom: 32px;
      padding: 0 8px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;

      &:hover .es-cross__icon {
        transform: scale(1.2);
      }
    }

    &__wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }

    &__subtitle {
      @include text;
      font-size: 17px;
      text-align: center;
      margin-bottom: 16px;
      text-transform: uppercase;

      strong {
        display: block;
      }
    }

    &__text {
      @include text;
      font-size: 15px;
      text-align: center;
      margin-bottom: 16px;
    }

    &__link {
      @include text;
      color: #fff;
      background: #0079ad;
      font-size: 10px;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      padding: 6px 24px;
      margin-bottom: 16px;
      border: 1px solid #0079ad;
      transition: all 0.3s ease;

      &:hover {
        color: #0079ad;
        background: #fff;
      }
    }
  }

  @media screen and (min-width: 400px) {
    .es-kv__header {
      padding: 180px 10px 0 10px;
    }

    .es-benefits {
      &__title {
        margin: 0 auto;
        margin-bottom: 70px;
        max-width: 300px;
      }
    }
  }

  @media screen and (min-width: 500px) {
    .es-benefits {
      min-height: 858px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__content {
        max-width: 400px;
        margin-top: -200px;
        margin-left: -62px;
      }

      &__container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }
  }

  @media screen and (min-width: 560px) {
    .es-cross {
      &__container {
        flex-flow: row;
        flex-wrap: wrap;
        align-items: stretch;
      }

      &__photo--desktop {
        display: block;
      }

      &__packshot {
        display: none;
      }
    }

    .es-benefits {
      justify-content: flex-start;

      &__content {
        margin-left: 5%;
      }
    }

    .es-ingr {
      &__label {
        padding: 12px 12px;
        font-size: 17px;
      }
    }
  }

  @media screen and (min-width: 720px) {
    .es-kv {
      display: flex;

      &__images {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: 1;
        flex-basis: 50%;
        background-size: cover;
        height: auto;
      }

      &__content {
        justify-content: flex-end;
        align-items: flex-start;
      }

      &__subtitle {
        font-size: 20px;
        padding-bottom: 0;
      }

      &__title {
        padding-top: 0;
        text-align: left;
      }

      &__photo {
        order: -1;
        flex: 1;
        flex-basis: 50%;
      }
    }

    .es-ingr {
      &__title {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 32px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      &__header {
        position: relative;
        max-width: 500px;
        padding: 150px 60px 0 60px;
        font-size: 18px;
        z-index: 1;
      }

      &__animated-item {
        margin-top: -40px;
      }
    }
    .es-info {
      &__border {
        margin-bottom: 75px;
      }

      &__features {
        justify-content: space-between;
      }

      &__single {
        width: 23%;
      }
    }

    .es-use {
      margin-top: -130px;
      background-position: -250px 50%;
      min-height: 763px;
      display: flex;
      align-items: center;
      margin-bottom: 0px;

      &__content {
        padding-top: 0;
        max-width: 300px;
        margin-right: 25px;
        margin-left: auto;
        margin-top: 115px;
      }

      &__title {
        font-size: 26px;
      }
    }

    .es-banner {
      background: url('images/bg-2.png') no-repeat right center;
      min-height: 442px;
      display: flex;
      align-items: center;
      margin-bottom: 100px;
      margin-left: 2%;

      &__content {
        max-width: 590px;
      }

      &__container {
        justify-content: space-around;
        flex-direction: row;
      }

      &__border {
        width: 400px;
      }

      &__single {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    .es-ingr {
      margin-bottom: 130px;

      &__title {
        max-width: 338px;
        margin-bottom: 40px;
        font-size: 26px;
      }

      &__label {
        padding: 12px 12px;
        font-size: 22px;
      }

      &__container {
        max-width: 730px;
        margin: 0 auto;
        padding: 0;
        justify-content: space-between;
      }

      &__text {
        margin: 0 auto;
        font-size: 15px;
        width: 500px;
      }
    }

    .es-benefits {
      &__content {
        margin-left: 10%;
      }
    }
  }

  @media screen and (min-width: 920px) {
    .es-kv {
      &__title {
        font-size: 38px;
        line-height: 0.9;
      }

      &__subtitle {
        font-size: 24px;
      }
    }

    .es-banner {
      margin-left: 2%;

      &__border {
        width: 530px;
      }

      &__title {
        font-size: 20px;
      }

      &__text {
        font-size: 20px;

        &--number {
          font-size: 56px;
        }
      }
    }

    .es-benefits {
      &__title {
        margin-bottom: 45px;
      }
      &__content {
        margin-left: 13%;
      }
    }

    .es-use {
      background-position: -60px 50%;
    }

    .es-cross {
      &__title {
        margin-bottom: 60px;
        font-size: 26px;
      }

      &__container {
        justify-content: space-around;
      }

      &__single {
        max-width: 260px;

        &--second {
          max-width: 231px;
          margin-left: -20px;
        }

        &--third {
          margin-right: 50px;
        }
      }
    }

    .es-ingr {
      &__label {
        width: 404px;
        font-size: 24px;
      }
    }
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
